/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    
}
.navbar-left{
    cursor: pointer;
}
.publish_blog {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: antiquewhite;
}

.form {
    background-color: gray;
    width: 600px; 
    padding: 20px; 
    border: 1px solid #ccc; 
}

h1{
    color:black
} */
